{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'assets/client.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/client_bene.css' %}" />

   <link rel="stylesheet" href="{% static 'assets/admin_dashboard.css' %}" />
    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
   
    <title>Withdraw Request</title>
    <style>
      .popup {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute !important;
    top: 209.5px !important;
    left: 1298.22px !important;
}

.popup input[type="radio"] {
  margin-right: 5px;
}

.popup label {
  margin-right: 15px;
}
.input-popup
{
  position: absolute !important;
    top: 288.5px !important;
    left: 1130.22px !important  ;
}
    </style>
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a href="{% url 'admin_dashboard' %}">
                    <i class="uil uil-chart-pie"></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'client-list-template' %}">
                    <i class="uil uil-money-withdraw"></i>
                    <span class="link-name">Client List</span> 
                </a>
            </li>
            <li>
                <a href="{% url 'withdrawal-request-list' %}">
                    <i class="uil uil-money-withdraw"></i>
                    <span class="link-name">Withdrawal Request List</span> 
                </a> 
            </li>
            
            <li>
              <a href="{% url 'client_wallet_list' %}">
                <i class="uil uil-money-withdraw"></i>
                
                <span class="link-name">Client Vollet</span>
              </a>
            </li>
 
        </ul>
    </div>
    </nav>
    <!-- Withdrawal Request Section -->
    <section id="dashboard_section" class="dashboard" active>
      <div class="top">
        <div class="search-box">
          <a href="{% url 'logout' %}"><span class="link-name"
            >Logout
            <span style="font-weight: 600; font-size: 16px">↪️</span></span
          ></a>
        </div>

        <!--<img src="images/profile.jpg" alt="">-->
      </div>

      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-money-withdraw"></i>
            <span class="text">Withdraw Request List</span>
          </div>
        </div>

        <div class="activity">
          <div class="activity-data">
            <div class="container">
            
              <table class="rwd-table">
                <tbody>
                  <tr>
                    <th>Serial No</th>
                    <th>Client Name</th>
                    <th>Created Date</th>
                    <th>Amount</th>
                    <th>Reasons</th>
                    <th>Request Status</th>
                  </tr>
                  {% for withdrawal_request in withdrawal_requests %}
                  <tr>
                    <td data-th="Serial No">{{forloop.counter}}</td>
                    <td data-th="Client Name">{{withdrawal_request.account_name}}</td>
                    <td data-th="Created Date">{{withdrawal_request.created_at}}</td>
                    <td data-th="Amount">{{withdrawal_request.ammount}}</td>
                    <td data-th="Reason" id="pendingCell">{{withdrawal_request.reasons}}</td>
                    
                    <td data-th="Status" id="status{{ withdrawal_request.id }}">{{ withdrawal_request.req_status }}</td>
                    <td data-th="Action">
                        <select class="status-dropdown" data-request-id="{{ withdrawal_request.id }}">
                            <option value="pending">Pending</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </td>

                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% include 'js/withdrawal_request_dashboard_js.html' %}
  </body>
</html>
