{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'assets/client.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/client_bene.css' %}" />

   <link rel="stylesheet" href="{% static 'assets/admin_dashboard.css' %}" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>Admin Client Wallet List</title>
    <style>
      .jconfirm .jconfirm-box.jconfirm-type-red {
         border-top: solid 7px #1f0e3b !important;
        animation-name: type-red;
    }
       .jconfirm .jconfirm-holder
        {
          width: 500px;
        }
        .jconfirm .jconfirm-cell
        {
          display: flex !important;
        justify-content: center;
        margin-top: 255px;
        margin-left: 248px;
        }
    .jconfirm .jconfirm-box .jconfirm-buttons button.btn-red
    {
        background-color: #EF5350;
    }
    
    </style>
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="{% static 'images/logo.png' %}" alt />
        </div>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="{% url 'admin_dashboard' %}">
              <i class="uil uil-chart-pie"></i>
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'client-list-template' %}">
              <i class="uil uil-user-plus"></i>
              <span class="link-name">Client List</span>
            </a>
          </li>
          {% if request.user.is_superadmin %}
          <li>
            <a href="{% url 'admin-list-template' %}">
              <i class="uil uil-user-plus"></i>
              <span class="link-name">Admin List</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'withdrawal-request-list' %}">
              <i class="uil uil-money-withdraw"></i>
              <span class="link-name">Withdrawal Request List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'client_wallet_list' %}">
              <i class="uil uil-wallet"></i>
              <span class="link-name">Client Wallet</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Dashboard Section -->
    <section id="dashboard_section" class="dashboard" active>
      <div class="top">
        <div class="search-box">
          <a href="{% url 'logout' %}"><span class="link-name">Logout
              <span
                style="font-weight: 600; font-size: 16px">↪️</span></span></a>
        </div>

        <!--<img src="images/profile.jpg" alt="">-->
      </div>

      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Client Wallet List</span>
          </div>
        </div>

        <div class="activity">
          <div class="activity-data">
            <div class="container">
              <table class="rwd-table">
                
                
                <tbody>
                 
                    <tr>
                        <th>Serial No</th>
                        <th>Client Id</th>
                        <th>Created Date</th>
                        <th>Total Balance</th>
                       
                      </tr>
                      {% for wallet in wallet %}
                      
                      <!-- <tr>
                        <td data-th="Serial No">{{forloop.counter}}</td>
                        <td id="client_for_wallet" data-th="client_id">{{wallet.client}}</td>
                        <td data-th="Created Date">{{wallet.created_at}}</td>
                        <td id="{{ wallet.id }}" data-th="Amount">{{wallet.total_balnce}}  &nbsp  <i class="uil uil-eye client1" ></i></td>
                      </tr> -->
                      <tr>
                        <td data-th="Serial No">{{ forloop.counter }}</td>
                        <td id="client_for_wallet_{{ wallet.id }}" data-th="client_id">{{ wallet.client }}</td>
                        <td data-th="Created Date">{{ wallet.created_at }}</td>
                      
                        <td id="amount_for_wallet_{{ wallet.id }}" data-th="Amount">{{ wallet.total_balnce }} 
                          {% if request.user.is_superadmin %}
                            &nbsp <i class="uil uil-eye client1"></i></td>
                          {% endif %}
                        </tr>    
                      {% endfor %}
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard Section -->

    {% include 'js/admin_wallet_js.html' %}

    </script>
  </body>
</html>
