{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'assets/client.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/client_bene.css' %}" />

   <link rel="stylesheet" href="{% static 'assets/admin_dashboard.css' %}" />

    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

      <style>
        .export_style{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  }


.export-btn {
  background-color: #1c003b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-btn:hover {
  background-color: #1c004b;
}


.search-bar {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border-color: #1c004b;
  outline: none;
}
.overview
{
display:flex;
justify-content:space-between;
}
</style>

    <title>Admin Dashboard Panel</title>
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="{% static 'images/logo.png' %}" alt />
        </div>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="">
              <i class="uil uil-chart-pie"></i>
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'client-list-template' %}">
              <i class="uil uil-user-plus"></i>
              <span class="link-name">Client List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'withdrawal-request-list' %}">
              <i class="uil uil-money-withdraw"></i>
              <span class="link-name">Withdrawal Request List</span>
            </a>
          </li>
          <li>
            <a href="{% url 'client_wallet_list' %}">
              <i class="uil uil-money-withdraw"></i>
              
              <span class="link-name">Client Wallet</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Dashboard Section -->
    <section id="dashboard_section" class="dashboard" active>
      <div class="top">
        <div class="search-box">
          <a href="{% url 'logout' %}"><span class="link-name">Logout
              <span
                style="font-weight: 600; font-size: 16px">↪️</span></span></a>
        </div>

        <!-- <div class="search-box">
          <button id="exportBtn">Export</button>
          
        </div>

        <div>
          <input type="text" id="searchBarAdmin" placeholder="Search">

        </div> -->

        
      </div>

      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Dashboard</span>
          </div>
          <div class="search-box export_style">
          
            <button  class="export-btn" id="exportBtn">Export</button>
                      
            <input type="text"   class="search-bar"  id="searchBarAdmin" placeholder="Search">
            
            </div>
        </div>
        <br>
        <br>

        <div class="activity">
          <div class="activity-data">
            <div class="container">
                
              <table class="rwd-table" id="admin_dashboard_table">

                <tbody>
                  <tr>
                    <th>Sr.No</th>
                    <th>Client Name</th>
                    <th>Created Date</th>
                    <th>Amount</th>
                    <th>Transaction</th>
                    <th>Status</th>
                    <th>Remark</th>
                    <th>Admin</th>
                  </tr>
                  {% for withdrawal_request,txn in withdrawal_requests %}
                  <tr>
                    <td data-th="Serial No">{{forloop.counter}}</td>
                    <td data-th="Client">{{withdrawal_request.client.email}}</td>
                    <td data-th="Created Date">{{withdrawal_request.created_at}}</td>
                    <td data-th="Amount">{{withdrawal_request.ammount}}</td>
                    <td data-th="Txn">{{txn.tnx}}</td>
                    <td data-th="Status">{{withdrawal_request.req_status}}</td>
                    {% if withdrawal_request.req_status == 'Approved' %}     
                        <td data-th="RTN Number">{{withdrawal_request.ref_number}}</td> 
                    {% else %} 
                        <td data-th="Reason">{{withdrawal_request.reasons}}</td>

                    {% endif %}
                    <td data-th="Status">{{withdrawal_request.admin_remark}}</td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard Section -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    {% include 'js/admin_dashboard_export_js.html' %}
  </body>
</html>
