{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'assets/client.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/client_bene.css' %}" />

    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <title>Dashboard Panel</title>
    <style>
      .rwd-table tr:first-child {
        border-top: none;
        background: #0e0e37;
        color: #fff;
    }
    
    .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f5f9fc;
    }
    .rwd-table tr {
        border-color: #bfbfbf;
    }
    .rwd-table th, .rwd-table td {
        padding: 1em 1em !important;
        text-align: center;
    }
    .rwd-table {
        color: #333;
        border-radius: 0.4em;
        overflow: hidden;
        margin: auto;
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }
    </style>
  </head>
  <body>
    
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="{% url 'dashboard-client-form' %}" class="active">
              <i class="uil uil-chart-pie"></i>
              <!-- Example icon class -->
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'add-bene-template'  %}">
              <i class="uil uil-user-plus"></i>
              <!-- Example icon class -->
              <span class="link-name">Add Beneficiary</span>
            </a>
          </li>
          <li>
            <a href="{% url 'withdrawal-requests-template'  %}">
              <i class="uil uil-money-withdraw"></i>
              <!-- Example icon class -->
              <span class="link-name">Withdrawal Request </span>
            </a>
          </li>
          <li>
            <a href="{% url 'account_statement_list' %}">
              <i class="uil uil-wallet"></i>
              <!-- Example icon class -->
              <span class="link-name">Account Statement</span>
            </a>
          </li>
      
        </ul>
      </div>
    </nav>
    <!-- Dashboard Section -->
    <section id="dashboard_section" class="dashboard" active>
      <div class="top">
        <div class="search-box">
          <a href="{% url 'logout' %}"><span class="link-name"
            >Logout
            <span style="font-weight: 600; font-size: 16px">↪️</span></span
          ></a>
        </div>

        <!--<img src="images/profile.jpg" alt="">-->
      </div>

      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Submitted Form</span>
          </div>
        </div>

        <div class="activity">
          <div class="activity-data">
            <div class="container">
            
              <table class="rwd-table" id="withdrawal_request_list_id">
                
                <tbody>
                  <tr>
                    <th>Serial No</th>
                    <th>Account No</th>
                    <th>Created Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Reason</th>
                  </tr>
                 
                  {% for withdrawal_request in withdrawal_requests %}
                  <tr>
                    <td data-th="Serial No">{{forloop.counter}}</td>
                    <td data-th="Serial No">{{withdrawal_request.account_number}}</td>
                    <td data-th="Created Date">{{withdrawal_request.created_at}}</td>
                    <td data-th="Amount">{{withdrawal_request.ammount}}</td>
                    <td data-th="Status">{{withdrawal_request.req_status}}</td>
                    <td data-th="Reason">{{withdrawal_request.reasons}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard Section -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% include 'js/withdrawal_request_dashboard_js.html' %}
  </body>
</html>
