
{% csrf_token %}

<script type="text/javascript">






$(document).ready(function() {
            $("#bene_form_id").submit(function(event) {
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                event.preventDefault();
                console.log("hello");
                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "/beneficiaries/",
                    data: formData,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(response) {
                        // If login is successful, display success message

                        var popup=$.confirm({
                            title: ``,
                            content:"Beneficiary Added Successfully!",
                            type: "green",
                            typeAnimated: true,
                            columnClass: 'medium',
                            buttons: {
                           
                            },

                            
                            
                        
                        });

                        setTimeout(function() {
                        popup.close();
                        window.location.reload(); // Reload the page (optional)
                        }, 1000); // Close after 3 seconds
                        
                        console.log("success",response);
                        
                      
                    },
                    
                    error: function(xhr, status, error) {
                        // If login fails, display error message
                        var errorMessage = JSON.parse(xhr.responseText); // Parse the JSON response
                        var errorDetail = errorMessage.errors.bene_account_number[0];
                        var popup =$.confirm({
                            title:'',
                            content:errorDetail,
                            type:'red',
                            typeAnimated:true,
                            buttons:{
                                              
                                    }

                        });

                         // Set a delay for automatic closing (adjust as needed)
                        setTimeout(function() {
                        popup.close();
                        window.location.reload(); // Reload the page (optional)
                        }, 2000); // Close after 3 seconds

                        console.log("success", response);
                    }
                });
            });
        });



</script>