{% csrf_token %}

<script>
$(document).ready(function() {
    // Add click event listener to radio buttons
    $('input[type="radio"]').click(function() {
        // Find the closest table row to the clicked radio button
        var tableRow = $(this).closest('tr');
        // Extract data from table row cells
        var name = tableRow.find('td[data-th="Name"]').text().trim();
        var accountNumber = tableRow.find('td[data-th="account_number"]').text().trim();
        var bankName = tableRow.find('td[data-th="bank name"]').text().trim();
        var ifscCode = tableRow.find('td[data-th="IFSC Code"]').text().trim();
        // Populate form fields with extracted data
        $('#aname').val(name);
        $('#anumber').val(accountNumber);
        $('#abranch').val(ifscCode);
        $('#bname').val(bankName);
    });



    // DELETE Bene

    $(document).on('click', '.bene-delete-btn', function(e) {
            e.preventDefault(); // Prevent default action

            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var requestId = $(this).data('bene-id');

            $.confirm({
                title: 'Confirm Deletion',
                content: 'Are you sure you want to delete this beneficiary?',
                type: 'red',
                buttons: {
                    confirm: {
                        text: 'Confirm',
                        btnClass: 'btn-red',
                        action: function() {
                            $.ajax({
                                url: '/beneficiaries/' + requestId + '/',
                                type: 'DELETE',
                                beforeSend: function(xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                                contentType: 'application/json',
                                success: function(data) {
                                    var popup=$.alert({
                                        title: '',
                                        content: 'Beneficiary Deleted Successfully!',
                                        type: 'green',
                                        // buttons: {
                                        //     ok: function() {
                                        //         location.reload(); // Reload the page
                                        //     }
                                        // }
                                    });

                                    setTimeout(function() {
                                        popup.close();
                                        window.location.reload(); 
                                    }, 1000); // Close after 3 seconds
                                },
                                error: function(error) {
                                    $.alert({
                                        title: 'Error',
                                        content: 'Failed to delete the account.',
                                        type: 'red'
                                    });
                                    console.error('Error:', error);
                                }
                            });
                        }
                    },
                    cancel: function() {
                        // Do nothing
                    }
                }
            });
    });


});
</script>