<script>
    $(document).ready(function() {
        $('#exportBtn').click(function() {
            // Reference to the table
            var table = $('#admin_dashboard_table')[0];
            
            // Convert the table to a worksheet
            var worksheet = XLSX.utils.table_to_sheet(table);
            
            // Create a new workbook and append the worksheet
            var workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet1');
            
            // Export the workbook to an Excel file
            XLSX.writeFile(workbook, 'admin_dashboard_data.xlsx');
        });

       
        $('#searchBarAdmin').on('input', function() {
            var value = $(this).val().toLowerCase();
            var found = false;

            $('#admin_dashboard_table tbody tr').each(function(index) {
                if (index === 0) return; // Skip the header row

                var rowText = $(this).text().toLowerCase();

                if (rowText.includes(value)) {
                    $(this).show();
                    found = true;
                } else {
                    $(this).hide();
                }
            });

            // if (found) {
            //     $('#searchBarAdmin').val('');
            // }
        });


    });
</script>