{% csrf_token %}
<script>


    
$(document).ready(function() {

    
    
        var clientForm = $("#clientForm");
        var clientList = $("#clientList");

        // Hide the form when showing the client list
        clientForm.hide();

        // Perform a GET request to fetch client data
        $.ajax({
            type: "GET",
            url: "/users/", // Replace this with your actual endpoint URL
            success: function(response) {
                // Assuming response is an array of client objects with properties like username, password, etc.
                // Clear any existing data in the client table body
                console.log(typeof response);
                $("#clientTable tbody").empty();
                var sequence = 1;
                // Iterate over each client object in the response and append it to the client table body
                response.forEach(function(client) {
                    var row = $("<tr>");
                    row.append($("<td>").text(sequence++));
                    row.append($("<td>").text(client.username));
                    row.append($("<td>").text(client.password));
                    // Add more columns as needed
                    $("#clientTable tbody").append(row);
                });

                // Show the client list
                clientList.show();
            },
            error: function(xhr, status, error) {
                // Handle errors
                console.log("Error:", error);
            }
        });
    

    
});


 
        



</script>
<style>
    
    .jconfirm .jconfirm-box.jconfirm-type-green 
    {
        border-top: solid 7px #1f0e3b !important;

    }
    .btn-blue
    {
        background-color:#1f0e3b !important;
        color: white;
    }
</style>