{% csrf_token %}
<script>

$(document).ready(function() {
            $("#loginForm").submit(function(event) {
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                event.preventDefault();
                console.log("hello");
                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "/userlogin/",
                    data: formData,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(response) {
                        // If login is successful, display success message
                        console.log("success",response);
                        if (response.user == 'is_admin'){

                            $.confirm({
                                title: ``,
                                content:"Admin Login Successfully!",
                                type: "green",
                                typeAnimated: true,
                                columnClass: 'medium',
                                buttons: {
                                OK: {
                                    text: "Close",
                                    btnClass: "btn-blue",
                                    action: function () {
                                        window.location.href = "/withdrawal-requests/"; 
                                    }
                                
                                    
                                },

                            
                            },

                            

                            
                        
                        });

                        

                            
                            


                        }
                        if (response.user == 'is_superadmin'){

                            $.confirm({
                            title: ``,
                            content:"SuperAdmin Login Successfully!",
                            type: "green",
                            typeAnimated: true,
                            columnClass: 'medium',
                            autoClose: 'close|0000',
                            buttons: {
                            OK: {
                                text: "Close",
                                btnClass: "btn-blue",
                                close: function () {},
                                action: function () {
                                    window.location.href = "/admin_dashboard/template/"; 
                                }
                            
                                
                            },
                           

                            },

                            


                            });

                           



                        }
                        if (response.user == 'is_client'){

                            $.confirm({
                            title: ``,
                            content:"Client Login Successfully!",
                            type: "green",
                            typeAnimated: true,
                            columnClass: 'medium',
                            buttons: {
                            OK: {
                                text: "Close",
                                btnClass: "btn-blue",
                                action: function () {
                                    window.location.href = "/dashboard_client/template/"; 
                                }
                               
                                
                            },
                            
                            },
                            
                            
                        
                        });

                           
                        }
                      
                    },
                    error: function(xhr, status, error) {
                        // If login fails, display error message
                        $.confirm({
                            title:'',
                            content:'User Is Not Authenticated',
                            type:'red',
                            typeAnimated:true,
                            // buttons:{
                            //             tryAgain: {
                            //                 // text: 'Try again',
                            //                 // btnClass: 'btn-red',
                            //                 action: function () {
                            //                     window.location.reload(); // Reload the page
                            //                 }
                                            
                            //             },
                                                    
                            //         }

                            action: function () {
                                    window.location.href = "/admin_dashboard/template/"; 
                                }

                        });
                    }
                });
            });
        });


</script>