{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    $(document).ready(function() {
        // Add event listener to all dropdowns with class "status-dropdown"
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var requestId 
        var selectedOption
      
        $('.status-dropdown').change(function() {

            console.log("HELOO");
            requestId = $(this).data('request-id');
            selectedOption = $(this).val();
            var parentTd = $(this).parent();
            var extraFieldsDiv = parentTd.find('.extra-fields');
           

            // Show extra fields if "approved" option is selected, hide otherwise
            if (selectedOption === 'approved') {
                extraFieldsDiv.show();
            } else {
                extraFieldsDiv.show();
            }
        });

        // Add event listener to submit button
        $('.submit-button').click(function() {
            var parentTd = $(this).parent();
            var adminremarkValue = parentTd.find('.extra-textbox1').val();
            var textboxValue = parentTd.find('.extra-textbox').val();

            var currentRow = $(this).closest('tr');

            var amount= currentRow.find('.withdraw_amount').text().trim();
            
            console.log('amount', amount);
           
            var data
            if (selectedOption === 'Approved') {

                data ={

                    'id': requestId,
                    'ref_number':textboxValue,
                    'reasons':'NA',
                    'transaction_type':'withdraw',
                    'admin_remark':adminremarkValue,
                    'req_status':selectedOption,
                    'amount':amount

                }
                
            } if(selectedOption === 'Rejected'){

                data={

                    'id': requestId,
                    'reasons':textboxValue,
                    'transaction_type':'NA',
                    'req_status':selectedOption,
                }
                $('#reason_status').text(textboxValue);
            }
            
            console.log("data",data);
            $.ajax({
                url: '/withdrawal-requests/'+ requestId + '/',
                type: 'PUT',
                beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                contentType: 'application/json',
                data: JSON.stringify(
                    data
                ),
                success: function (data) {
                    // Update the status cell text with the new status

                    $.confirm({
                            title: ``,
                            content:"Staus changed Successfully!",
                            type: "green",
                            typeAnimated: true,
                            columnClass: 'medium',
                            buttons: {
                            OK: {
                                text: "Close",
                                btnClass: "btn-blue",
                                action: function () {
                                    window.location.reload(); // Reload the page
                                }
                               
                                
                            },
                            },
                            
                        
                        });

                        
                    
                    
                },
                error: function (error) {

                    $.confirm({
                            title:'',
                            content:error,
                            type:'red',
                            typeAnimated:true,
                            buttons:{
                                        tryAgain: {
                                            text: 'Try again',
                                            btnClass: 'btn-red',
                                            action: function () {
                                                window.location.reload(); // Reload the page
                                            }
                                            
                                        },
                                                    
                                    }

                        });

                    console.error('Error:', error);
                }
            });


            // You can perform further processing here, such as AJAX request to submit the value
        });
    });
</script>