{% csrf_token %}
<script>
$(document).ready(function() {

    $("#withdrawal-requests_form_id").submit(function(event) {
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                event.preventDefault();
                console.log("hello");
                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "/withdrawal-requests/",
                    data: formData,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(response) {
                        // If login is successful, display success message

                        $.confirm({
                            title: ``,
                            content:"Withdrawal Requested Successfully!",
                            type: "green",
                            typeAnimated: true,
                            columnClass: 'medium',
                            buttons: {
                            OK: {
                                text: "Close",
                                btnClass: "btn-blue",
                                action: function () {
                                    window.location.reload(); // Reload the page
                                }
                               
                                
                            },
                            },
                            
                        
                        });
                        console.log(typeof response);
                        // window.location.reload();

                       
                    },
                    error: function(xhr, status, error) {
                        $.confirm({
                            title:'',
                            content:JSON.parse(xhr.responseText).Message,
                            type:'red',
                            typeAnimated:true,
                            buttons:{
                                        tryAgain: {
                                            text: 'Close',
                                            btnClass: 'btn-red',
                                            action: function () {
                                                window.location.reload(); // Reload the page
                                            }
                                            
                                        },
                                                    
                                    }

                        });

                        var errorMessage = JSON.parse(xhr.responseText).Message;
                        // Handle the error message accordingly
                        console.error(errorMessage)
                    }
                });
            });
     





});
</script>